div {
    color: red;
}

.main-header {
    background: linear-gradient(to bottom right, rgb(247, 0, 70), rgb(248, 103, 34));
    padding-left: 1em;
    padding-right: 1em;
    height: 3em;
    z-index: 1;
    box-shadow: gray 0px 0px 7px;
    display: flex;
    align-items: center;
}

.header-title {
    color: white;
    font-size: 1.5em;
    margin-left: 1em;
}

#header-logo {
    width: 3em;
    float: left;
}

#sidebar {
    position: fixed;
    left: 0px;
    top: 3em;
    height: 100%;
    width: 15em;
    background: rgb(240, 240, 240);
    z-index: -1;
    padding-top: 1em;
    padding-bottom: 1em;
}