.section {
    background: rgba(0,0,0,0);
    width: 100%;
    border: none;
    font-size: 1em;
    color: rgb(100, 100, 100);
    padding: 10px;
    transition: 0.3s;
}

.section:hover {
    background: rgba(200, 200, 200, 0.5);
    cursor: pointer;
}